*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-area {
    height: 400px;
    width: 400px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.results {
    
}